form{
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-control{
    width: 35em!important;
}
hr{
    width: 100%;
}